<%= form_for(@loan) do |f| %>
  <% if @check_loan_object && @check_loan_object.error_message %>
    <div id="error_explanation">
      <%= @check_loan_object.error_message%>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :property_type %><br>
    <%= f.select :property_type, options_for_select(Loan.property_types.keys) %>
  </div>
  <div class="field">
    <%= f.label :mortgage_payment %><br>
    <%= f.text_field :mortgage_payment %>
  </div>
  <div class="field">
    <%= f.label :mortgage_insurance %><br>
    <%= f.text_field :mortgage_insurance %>
  </div>
  <div class="field">
    <%= f.label :homeowner_insurance %><br>
    <%= f.text_field :homeowner_insurance %>
  </div>
  <div class="field">
    <%= f.label :property_tax %><br>
    <%= f.text_field :property_tax %>
  </div>
  <div class="field">
    <%= f.label :hoa_due %><br>
    <%= f.text_field :hoa_due %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :credit_score %><br>
    <%= f.number_field :credit_score %>
  </div>
  <div class="field">
    <%= f.label :base_income %><br>
    <%= f.text_field :base_income %>
  </div>
  <div class="field">
    <%= f.label :rental_income %><br>
    <%= f.text_field :rental_income %>
  </div>
  <div class="field">
    <%= f.label :commission %><br>
    <%= f.text_field :commission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
