<p id="notice"><%= notice %></p>

<h1>Listing Loans</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Property type</th>
      <th>Mortgage payment</th>
      <th>Mortgage insurance</th>
      <th>Homeowner insurance</th>
      <th>Property tax</th>
      <th>Hoa due</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Credit score</th>
      <th>Base income</th>
      <th>Rental income</th>
      <th>Commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.address %></td>
        <td><%= loan.property_type %></td>
        <td><%= loan.mortgage_payment %></td>
        <td><%= loan.mortgage_insurance %></td>
        <td><%= loan.homeowner_insurance %></td>
        <td><%= loan.property_tax %></td>
        <td><%= loan.hoa_due %></td>
        <td><%= loan.first_name %></td>
        <td><%= loan.last_name %></td>
        <td><%= loan.email %></td>
        <td><%= loan.credit_score %></td>
        <td><%= loan.base_income %></td>
        <td><%= loan.rental_income %></td>
        <td><%= loan.commission %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
