<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @loan.address %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @loan.property_type %>
</p>

<p>
  <strong>Mortgage payment:</strong>
  <%= @loan.mortgage_payment %>
</p>

<p>
  <strong>Mortgage insurance:</strong>
  <%= @loan.mortgage_insurance %>
</p>

<p>
  <strong>Homeowner insurance:</strong>
  <%= @loan.homeowner_insurance %>
</p>

<p>
  <strong>Property tax:</strong>
  <%= @loan.property_tax %>
</p>

<p>
  <strong>Hoa due:</strong>
  <%= @loan.hoa_due %>
</p>

<p>
  <strong>First name:</strong>
  <%= @loan.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @loan.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @loan.email %>
</p>

<p>
  <strong>Credit score:</strong>
  <%= @loan.credit_score %>
</p>

<p>
  <strong>Base income:</strong>
  <%= @loan.base_income %>
</p>

<p>
  <strong>Rental income:</strong>
  <%= @loan.rental_income %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @loan.commission %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
